<div class="product-other-reco__wrapper">
    <p class="product-other-reco__title">その他のツアー</p>
    <div class="product-other-reco__inner">
        <a href="{{ product.metafields.custom.other-product1.value }}">
            <img class="product-other-reco__image" src="{{ product.metafields.custom.other-product1.value | img_url:"master"}}" alt="">
        </a>
        <a href="{{ product.metafields.custom.other-product2.value }}">
            <img class="product-other-reco__image" src="{{ product.metafields.custom.other-product2.value | img_url:"master"}}" alt="">
        </a>
        {{ product.metafields.custom.other-product1 }}
    </div>
    <p class="product-other-reco__text">{{ product.metafields.custom.other-recommendations-text.value }}</p>
    <img class="product-other-reco__icon" src="https://cdn.shopify.com/s/files/1/0584/0286/5288/files/waqwaq-icon-text3.png?v=1658252268" alt="">
</div>

