<div class="product-other-reco__wrapper">
    <p class="product-other-reco__title">その他のツアー</p>
    <div class="product-other-reco__inner">
        {% assign product_rec_1 = all_products[product.metafields.custom.other-product1] %}
        {% assign product_rec_1_url = product_rec_1.url %}
        {% assign product_rec_1_image = product_rec_1.featured_image %}

        {% assign product_rec_2 = all_products[product.metafields.custom.other-product2] %}
        {% assign product_rec_2_url = product_rec_2.url %}
        {% assign product_rec_2_image = product_rec_2.featured_image %}

        <a href="{{ product_rec_1_url }}">
            <img class="product-other-reco__image" src="{{ product_rec_1_image | img_url:"original"}}" alt="">
        </a>
        <a href="{{ product_rec_2_url }}">
            <img class="product-other-reco__image" src="{{ product_rec_2_image | img_url:"original"}}" alt="">
        </a>
    </div>
    <p class="product-other-reco__text">{{ product.metafields.custom.other-recommendations-text.value }}</p>
    <img class="product-other-reco__icon" src="https://cdn.shopify.com/s/files/1/0584/0286/5288/files/waqwaq-icon-text3.png?v=1658252268" alt="">
</div>

